{
    "openai_endpoint": "https://myendpoint.openai.azure.com",
    "openai_key": "123456",
    "deployments": {
        "openai-gpt5": "chat-academic-cloud-gpt5",
        "openai-gpt5-mini": "chat-academic-cloud-gpt5-mini",
        "openai-gpt5-nano": "chat-academic-cloud-gpt5-nano",
        "openai-gpt5-chat": "chat-academic-cloud-gpt5-chat",
        "openai-gpt35": "chat-academic-cloud-gpt35",
        "openai-gpt41": "chat-academic-cloud-gpt41",
        "openai-gpt41-mini": "chat-academic-cloud-gpt41-mini",
        "openai-gpt4": "chat-academic-cloud-gpt4",
        "openai-gpt4o": "chat-academic-cloud-gpt4o",
        "openai-gpt4o-mini": "chat-academic-cloud-gpt4o-mini",
        "openai-o1": "chat-academic-cloud-o1",
        "openai-o3": "chat-academic-cloud-o3",
        "openai-o1-mini": "chat-academic-cloud-o1-mini",
        "openai-o3-mini": "chat-academic-cloud-o3-mini",
        "openai-o4-mini": "chat-academic-cloud-o4-mini"
    }
}